/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-main);
  padding-block-start: 100px;
}

.page__section {
  inline-size: var(--container-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  padding-block-start: var(--padding-header-top);
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  padding-bottom: 25px;
}

.header__logo {
  display: block;
  font-size: var(--font-size-logo);
  margin-block-end: 20px;
}

.header__title {
  font-size: var(--font-size-title);
  margin-block-end: 25px;
}

.header__theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  text-align: left;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  background-color: var(--background-color);
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -16px;
}
