:root {
  /* Цветовая палитра сайта: цвета шрифта, фона и градиентов */
  --main-color: #000;
  --background-color: #fff;
  --overlay-color: rgba(0, 0, 0, 0.75);
  --gradient-color-line: #d3d3d3;
  --gradient-color-top: #e7e7e7;
  --gradient-color-bottom: #1a1a1a;
  --label-outline-color: #fff;
  --button-text-color: #fff;
  --heart-main-color: var(--main-color);
  --heart-accent-color: #ff0000;
  --heart-invisible-color: transparent;

  /* Переменные, отвечающие за построение фонового градиента: */
  --gradient-vertical: repeating-linear-gradient(
    to right,
    var(--gradient-color-line) 0 2px,
    rgba(0, 0, 0, 0) 2px 4px
  );
  --gradient-horizontal: repeating-linear-gradient(
    to bottom,
    var(--gradient-color-line) 0 2px,
    rgba(0, 0, 0, 0) 2px 4px
  );
  --gradient-colorshift: linear-gradient(
    to bottom,
    var(--gradient-color-top) 0.01%,
    var(--gradient-color-bottom)
  );
  --background-gradient: var(--gradient-vertical), var(--gradient-horizontal),
    var(--gradient-colorshift);

  /* Переменные, отвечающие за шрифты на сайте: */
  --font-family-main: "Inter-Variable";
  --font-family-accent: "PressStart2P";
  --font-weight-main: 400;
  --font-weight-accent: 700;
  --font-size-logo: clamp(3.0625rem, 2.7091rem + 1.5038vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);

  /* Отступы и размеры элементов */
  --container-inline-size: clamp(
    375px,
    100%,
    700px
  ); /* ширина хедера и карточек */
  --padding-header-top: clamp(
    120px,
    calc(var(--container-inline-size) * 0.2),
    136px
  );
  --like-button-height: 38px;
}

/* @media (width <= 375px) {
  :root {
  }
} */
