/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-color: #000;
  --background-color: #fff;
  --overlay-color: rgba(0, 0, 0, 0.75);
}
